.navbar_container {
  background-color: #2874f0;
  height: 56px;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 10;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  .logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 190px;
  }
  a,
  img {
    text-decoration: none;
    color: white;
    border: none;
    outline: none;
  }
  .explore {
    font-size: 11px;
    font-style: italic;
    margin-top: -1px;
  }
  .plus {
    color: #ffe500;
    font-weight: 500;
    margin-right: 2px;
  }
  .search_bar {
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 550px;
    padding: 8px 12px;
    margin: 0 15px;
  }
  .search_bar input {
    outline: none;
    border: none;
    width: 450px;
  }
  .login {
    padding: 8px 35px;
    color: #2874f0;
    background-color: white;
    border: none;
    font-weight: 600;
    margin: 0 30px;
  }
  .more {
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    margin: 0 20px;
  }
  .more_svg {
    transform: rotate(270deg);
    margin-left: 5px;
  }
  .cart {
    color: white;
    font-weight: 600;
    margin: 0 35px;
  }
}

.items_container {
  margin-top: 65px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  .items {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    .items_svg {
      transform: rotate(270deg);
    }
    img {
      width: 80px;
    }
    .items_text {
      font-weight: 500;
    }
  }
  .items:hover {
    color: #2874f0;
    fill: #2874f0;
  }
}
