.navbar_container {
  background-color: #2874f0;
  height: 56px;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar_container .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 190px;
}

.navbar_container a,
.navbar_container img {
  text-decoration: none;
  color: white;
  border: none;
  outline: none;
}

.navbar_container .explore {
  font-size: 11px;
  font-style: italic;
  margin-top: -1px;
}

.navbar_container .plus {
  color: #ffe500;
  font-weight: 500;
  margin-right: 2px;
}

.navbar_container .search_bar {
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 550px;
  padding: 8px 12px;
  margin: 0 15px;
}

.navbar_container .search_bar input {
  outline: none;
  border: none;
  width: 450px;
}

.navbar_container .login {
  padding: 8px 35px;
  color: #2874f0;
  background-color: white;
  border: none;
  font-weight: 600;
  margin: 0 30px;
}

.navbar_container .more {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 600;
  margin: 0 20px;
}

.navbar_container .more_svg {
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
  margin-left: 5px;
}

.navbar_container .cart {
  color: white;
  font-weight: 600;
  margin: 0 35px;
}

.items_container {
  margin: 65px 0 20px 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.items_container .items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.items_container .items .items_svg {
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
}

.items_container .items img {
  width: 80px;
}

.items_container .items .items_text {
  font-weight: 500;
}

.items_container .items:hover {
  color: #2874f0;
  fill: #2874f0;
}

* {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.slider {
  overflow: hidden;
}

.slider figure {
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  -webkit-animation: 20s slider infinite;
          animation: 20s slider infinite;
}

.slider figure img {
  width: 20%;
  float: left;
}

@-webkit-keyframes slider {
  0% {
    left: 0;
  }
  20% {
    left: 0;
  }
  25% {
    left: -100%;
  }
  45% {
    left: -100%;
  }
  50% {
    left: -200%;
  }
  70% {
    left: -200%;
  }
  75% {
    left: -300%;
  }
  95% {
    left: -300%;
  }
  100% {
    left: -400%;
  }
}

@keyframes slider {
  0% {
    left: 0;
  }
  20% {
    left: 0;
  }
  25% {
    left: -100%;
  }
  45% {
    left: -100%;
  }
  50% {
    left: -200%;
  }
  70% {
    left: -200%;
  }
  75% {
    left: -300%;
  }
  95% {
    left: -300%;
  }
  100% {
    left: -400%;
  }
}

.selling_items_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 10px;
}

.selling_items_container .text_and_button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 15px 0;
  padding: 15px;
}

.selling_items_container .text_and_button .view-all {
  border: none;
  outline: none;
  padding: 8px 20px;
  color: white;
  background-color: #2874f0;
}

.selling_items_container .text_and_button .text_offer_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  line-height: 26px;
}

.selling_items_container .text_and_button .text_offer_container h2 {
  font-size: 20px;
}

.selling_items_container .text_and_button .text_offer_container h5 {
  color: grey;
}

.selling_items_container .selling_items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.selling_items_container .selling_items .items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 20px;
  line-height: 23px;
  font-size: 14px;
}

.selling_items_container .selling_items .items img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.selling_items_container .selling_items .items .items_text_discount {
  color: #388e3c;
}

.selling_items_container .selling_items .items .items_text_description {
  color: grey;
}
/*# sourceMappingURL=main.css.map */